body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#new_solicitude_message {
    width: 100%;
    float: left;
    background: #69ACA5;
    color: white;
    text-shadow: 2px 2px 10px #69ACA5;
    box-shadow: 2px 2px 10px #69ACA5;
    padding: 5% 0;
    text-align: center;
    font-size: 1.5em;
}

#new_new_solicitude {
    width: 100%;
    float: left;
    background: #444444;
    color: white;
    padding: 7% 0 13% 0;
    text-align: center;
    text-shadow: 2px 2px 10px #444444;
    box-shadow: 2px 2px 10px #444444;
    font-size: 1.3em;
}

#new_new_solicitude label {
    font-size: 1.3em;
}

#new_new_solicitude input {
    color: #444444;
}

#new_new_solicitude input[type=text] {
    font-size: 1.3em;
    padding: 0.5%;
}

#new_new_solicitude input[type=password] {
    font-size: 1.3em;
    padding: .5%;
}

#new_new_solicitude input[type=submit] {
    font-size: 1.2em;
    text-decoration: none;
    background: #69ACA5;
    color: white;
    padding: 2% 9%;
    border: 2px solid #69ACA5;
    border-radius: 5px;
}

#new_new_solicitude input[type=submit]:hover {
    background: #222222;
    color: #69ACA5;
}

#new_new_solicitude select {
    text-align: center;
    font-size: 1.3em;
    padding: 0.2% 11%;
}

#new_new_solicitude option {
    text-align: center;
    padding: 1% 2%;
}

#redirect_logout {
    width: 100%;
    float: left;
    background: #69ACA5;
    text-align: center;
    color: white;
    padding: 5% 0 10% 0;
    font-size: 1.3em;
    text-shadow: 2px 2px 10px #69ACA5;
}

#redirect_logout a {
    text-decoration: underline;
    color: #444444;
    font-size: 1.3em;
    border-radius: 5px;
}

#redirect_logout a:hover {
    color: #DDDDDD;
}