{% extends "base.html" %}

{% block content %}

    <div id='all_active_solicitudes'>
        <h2>Tus solicitudes</h2>
        {% for s in solicitudes %}
            <p>
                Solicitud con PK_ID #: {{ s.pk_id }}
            </p>
            <p>
                Tipo de operacion: {{ s.operation_type }}
            </p>
            <p>
                Valor: {{ s.val.name }}
            </p>
            <p>
                Cantidad({{ s.quantity_type }}): {{ s.quantity }}
            </p>
            <p>
                Creado: {{ s.time_created }}
            </p>
            <p>
                Esta activada: {{ s.is_active }}
            </p>
            <hr>
        {% endfor %}
        <p>{{ message }}</p>
    </div>
    <div id='redirect_logout'>
        <h3>
            Si lo deseas, vuelve al inicio haciendo
            <a href='/users/home/'>click aqui!</a>
        </h3>
    </div>

{% endblock %}