{% extends "base.html" %}

{% block head %}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "solicitudes/active_solicitudes.css" %}">

{% endblock %}

{% block content %}

    <div id='active_solicitudes_message'>
        <h1>
            Tus solicitudes
        </h1>
    </div>
    <div id='all_active_solicitudes'>
        <form method='post'>
        {% csrf_token %}
        {% for s in solicitudes %}
        <div class='active_solicitude'>
            <p>
                Solicitud #{{ s.pk_id }}
            </p>
            <p>
                Tipo de operacion: {{ s.operation_type }}
            </p>
            <p>
                Valor: {{ s.val.name }}, {{ s.val.offerant }}
            </p>
            <p>
                Cantidad: {{ s.quantity }} {{ s.quantity_type }}
            </p>
            <p>
                Creado: {{ s.time_created }}
            </p>
            <p>
                Esta activada: {{ s.is_active }}
            </p>
            <p>
                <label for='{{ s.pk_id }}'>Seleccionar</label>
                <input type='checkbox' name='to_cancel' value='{{ s.pk_id }}'>
            </p>
        </div>
        {% endfor %}
        <br>
        <div id='cancel_button'>
            <input type='submit' value='Cancelar seleccionadas!'>
        </div>
        </form>
        <p>{{ message }}</p>
    </div>
    <div id='redirect_logout'>
        <h3>
            Si lo deseas, vuelve al inicio haciendo
            <a href='/users/home/'>click aqui!</a>
        </h3>
    </div>

{% endblock %}