{% extends "base.html" %}

{% block content %}

    <div id='new_new_solicitude'>
        <h2>Nueva solicitud</h2>
        <form method='post'>
            {% csrf_token %}
            <label for='1'>Comprar</label>
            <input type='radio' name='operation_type' value='1' checked='checked'>
            <label>|</label>
            <label for='2'>Vender</label>
            <input type='radio' name='operation_type' value='2'>
            <br>
            <input type='text' name='val' placeholder='ID Valor' value='{{ val }}'>
            <br>
            <input type='text' name='quantity' placeholder='Cantidad' value='{{ quantity }}'>
            <br>
            <label for='1'>Pesos</label>
            <input type='radio' name='quantity_type' value='1' checked='checked'>
            <label>|</label>
            <label for='2'>Unidades</label>
            <input type='radio' name='quantity_type' value='2'>
            <br>
            <input type='submit' value='Crear solicitud!'>
            <p>{{ message }}</p>
        </form>
    </div>
    <div id='redirect_logout'>
        <h3>
            Si lo deseas, vuelve al inicio haciendo
            <a href='/users/home/'>click aqui!</a>
        </h3>
    </div>

{% endblock %}