{% extends "base.html" %}

{% block head %}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "solicitudes/passive_pending_solicitudes.css" %}">

{% endblock %}

{% block content %}

    <div id='pending_passive_solicitudes_message'>
        <h1>
            Solicitudes pendientes por activar
        </h1>
    </div>
    <div id='all_pending_passive_solicitudes'>
        <form method='post'>
        {% csrf_token %}
        {% for s in solicitudes %}
        <div class='pending_solicitude'>
            <p>
                Solicitud #{{ s.pk_id }}
                <input type='checkbox' name='to_aprove' value='{{ s.pk_id }}'>
            </p>
            <p>
                Tipo de operacion: {{ s.operation_type }}
            </p>
            <p>
                Valor: {{ s.val.name }}
            </p>
            <p>
                Cantidad: {{ s.quantity }} {{ s.quantity_type }}
            </p>
            <p>
                Creado: {{ s.time_created }}
            </p>
        </div>
        {% endfor %}
        {% if solicitudes %}
            <input type='submit' value='Activar solicitudes!'>
        {% endif %}
        <p>{{ message }}</p>
        </form>
    </div>
    <div id='redirect_logout'>
        <h3>
            Si lo deseas, vuelve al inicio haciendo
            <a href='/users/home/'>click aqui!</a>
        </h3>
    </div>

{% endblock %}