{% extends "base.html" %}

{% block content %}

    <div id='all_pending_passive_solicitudes'>
        <form method='post'>
        {% csrf_token %}
        {% for s in solicitudes %}
            <p>
                Solicitud con PK_ID #: {{ s.pk_id }}
                <input type='checkbox' name='to_aprove' value='{{ s.pk_id }}'>
            </p>
            <p>
                Tipo de operacion: {{ s.operation_type }}
            </p>
            <p>
                Valor: {{ s.val.name }}
            </p>
            <p>
                Cantidad({{ s.quantity_type }}): {{ s.quantity }}
            </p>
            <p>
                Creado: {{ s.time_created }}
            </p>
        {% endfor %}
        {% if solicitudes %}
            <input type='submit' value='Activar solicitudes!'>
        {% endif %}
        <p>{{ message }}</p>
        </form>
    </div>
    <div id='redirect_logout'>
        <h3>
            Si lo deseas, vuelve al inicio haciendo
            <a href='/users/home/'>click aqui!</a>
        </h3>
    </div>

{% endblock %}