{% extends "base.html" %}

{% block content %}

    <div id='signup_signup'>
        <form method='post'>
            {% csrf_token %}
            <input type='text' name='username' placeholder='Usuario' value={{ username }}>
            <br>
            <input type='password' name='password' placeholder='Clave' value=''>
            <br>
            <input type='password' name='repeat_password' placeholder='Repite clave' value=''>
            <br>
            <label for='1'>Activo</label>
            <input type='radio' name='user_type' value='1' checked='checked'>
            <br>
            <label for='2'>Intermediario</label>
            <input type='radio' name='user_type' value='2'> 
            <br>
            <input type='submit' value='Registrate ahora!'>
            <br>
            {{ error }}
        </form>
    </div>
    <div id='redirect_logout'>
        <h3>
            Si lo deseas, vuelve al inicio haciendo
            <a href='/users/home/'>click aqui!</a>
        </h3>
    </div>

{% endblock %}