<form method='post'>
    {% csrf_token %}
    <input type='text' name='username' placeholder='Usuario' value={{ username }}>
    <br>
    <input type='password' name='password' placeholder='Clave' value=''>
    <br>
    <input type='password' name='repeat_password' placeholder='Repite clave' value=''>
    <br>
    <label for='active'>Activo</label>
    <input type='radio' name='user_type' value='active' checked='checked'>
    <label for='passive'>Intermediario</label>
    <input type='radio' name='user_type' value='passive'> 
    <br>
    <input type='submit' value='Registrar ahora'>
    <br>
    {{ error }}
</form>
{% for k, v in form_data.items %}
    <p>{{ k }} -> {{ v }}</p> 
{% endfor %}