{% extends "base.html" %}

{% block content %}

    <div id='signup_signup'>
        <h2>Registrar usuario</h2>
        <form method='post'>
            {% csrf_token %}
            <label for='username'>Usuario</label>
            <br>
            <input type='text' name='username' value={{ username }}>
            <br>
            <label for='password'>Clave</label>
            <br>
            <input type='password' name='password' value=''>
            <br>
            <label for='repeat_password'>Repetir clave</label>
            <br>
            <input type='password' name='repeat_password' value=''>
            <br>
            <label for='user_type'>Tipo de usuario</label>
            <br>
            <select name='quantity_type'>
                <option value='1'>Activo</option>
                <option value='2'>Intermediario</option>
            </select>
            <br><br>
            <input type='submit' value='Registrate ahora!'>
            <br>
            {{ error }}
        </form>
    </div>
    <div id='redirect_logout'>
        <h3>
            Si lo deseas, vuelve al inicio haciendo
            <a href='/users/home/'>click aqui!</a>
        </h3>
    </div>

{% endblock %}