{% extends "util/base.html" %}

{% block head %}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "home/css/home.css" %}">
    <script src="{% static "home/js/home.js" %}"></script>

{% endblock %}

{% block body %}

    <div class="container-fluid" ng-app="home">
        <div class="row">
            <div class="nav">
                {% include "util/nav.html" %}
            </div>
        </div>
        <div class="row">
            <div class="banner" id="welcome">
                {% include "home/banner.html" %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="mostActive" ng-controller="MostActiveController as mostActiveCtrl">
                    <div class="col-md-6 block">
                        {% include "home/most_active.html" %}
                    </div>
                    <div class="col-md-6 block">
                        {% include "home/graphic.html" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 block">
                    <div id="news" ng-controller="NewsController as newsCtrl">
                        {% include "home/news.html" %}
                    </div>
                </div>
                <div class="col-md-6 block">
                    <div id="videos">
                        {% include "home/video.html" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <div class="footer">
                    {% include "util/footer.html" %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}